.footer-section {
    background: linear-gradient(135deg, #0d6efd, #0a58ca); /* Gradient from #0d6efd to a darker shade */
    position: relative;
    color: white; /* Set text color to white */
  }
  
  .footer-cta {
    border-bottom: 1px solid #373636;
  }
    
  
  .footer-content {
    position: relative;
    z-index: 2;
  }
  .menufooter{
    padding-left: 0rem;
  }
  .footer-logo img {
    max-width: 180px;
    padding-bottom: 10px;
  }
  
  .footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #fff; /* Change text color to white */
    line-height: 28px;
  }
  
  .footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
  }
  
  .footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
  }
  
  .footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
  }
  
  .facebook-bg {
    background: #3B5998;
  }
  
  .twitter-bg {
    background: #55ACEE;
  }
  
  .google-bg {
    background: #4e13f0;
  }
  .telegram{
    background: #054c82;
  }
  .footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
  }
  
  .footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #64d1ed;
  }
  
  .footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
  }
  
  .footer-widget ul li a:hover {
    color: #3f42f0;
  }
  
  .footer-widget ul li a {
    color: #fff; /* Set links to white */
    text-transform: capitalize;
  }
  
  .subscribe-form {
    position: relative;
    overflow: hidden;
  }
  
  .subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
    color: #fff;
  }
  
  .subscribe-form button {
    position: absolute;
    right: 0;
    background: #1c62f9;
    padding: 13px 20px;
    border: 1px solid #14a5ff;
    top: 0;
  }
  
  .subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
  }
  
  .copyright-area {
    background: #202020;
    padding: 25px 0;
  }
  
  .copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #fff; /* Set copyright text to white */
  }
  
  .copyright-text p a {
    color: #1c62f9;
  }
  
  .footer-menu li {
    display: inline-block;
    margin-left: 20px;
  }
  
  .footer-menu li:hover a {
    color: #1c62f9;
  }
  
  .footer-menu li a {
    font-size: 14px;
    color: #fff; /* Set footer menu links to white */
  }
  

 
